html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  font-family: "Open Sans", sans-serif!important;
}

body{
  background: url('./images/bg_1920x1080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#page .container{
  background: radial-gradient(circle, rgba(13,61,84,1) 0%, rgba(4,37,54,1) 100%)!important;
  border: 0.15vw solid rgb(255, 255, 255);
  border-radius: 1.5vw;
}

#page{
  padding:2rem 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

img {
  width: 100%;
  max-width: 170px;
}

header {
  min-height: 150px;
  color: #042436;
  height: 100%;
  display: flex !important;
  justify-content: end;
  flex-direction: column;
  padding: 40px 0px;
}

@media screen and (max-width:768px){
    header .row{
        flex-direction: column;
    }
    img{
      max-width:150px;
      padding:40px 0px;
    }
    #kinoform{
      width:100%;
    }
    .row{
      width:100%;
    }
    input{
      width:100%;
    }
    h3{
      text-align:center;
    }
}

#time-now{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    border: solid 0.2vw #FFFFFF;
    border-radius: 1vw;
    background:#10223d;
}

#seconds{
  color:#ffb502;
}

#date,#time,#draw{
    font-size:1.5rem;
    font-weight: bold;
}

#kinoform{
    display:flex;
    flex-direction: column;
    color:#fff;
    gap:50px;
}

.form1,.form2,.form3{
    display:flex;
    flex-direction: column;
}

#page{
    color:#fff;
}

#kinosubmit{
    background: #efb31e;
    color:#fff;
    border-radius:20px;
    border:none;
    font-size:1.5rem;
    padding:.5rem 3.5rem;
    transition:all ease-in 0.2s;
}

#kinosubmit:hover{
  background:#041b29;
  color:#efb31e;
  border:1px solid #efb31e;
}

.form1 input,.form2 input{
  border-bottom:1px solid #fff;
}

#fl{
  font-size:2rem;
  gap:10px;
  border-bottom:1px solid #fff;
}

#number{
  width:75%;
}

.euro{
  width:25%;
  display:flex;
  justify-content: flex-end;
}

.numbers-row{
  gap:15px;
}

.winners{
  color:#041b29;
  background:#efb31e;
  text-align:center;
  font-weight: bold;
  font-size:2rem;
  border-radius:10px;
}

input{
  background:transparent;
  border:none;
  color:#fff;
  font-size:2rem!important;
}

input:focus{
  outline:none;
}

footer{
  padding:2rem 0rem;
  background: #FFC900;
  color:#10223d!important;
}

footer .row{
  gap:20px;
}

footer img{
  object-fit: contain;
}